.footer {
    background-color: var(--container-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__copy {
    display: block;
    margin: 1.5rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .footer__social-link {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .footer__container {
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 576px) {}

/* For small devices */
@media screen and (max-width: 350px) {}